
            <div class = "container">
                <div class = "header">
                    <h1 class = "title"><strong>Stiffff's To-Do List</strong></h1>
                </div>
                <center>
                <div class = "content">
                    <ul id = "list">
                    </ul>
                </div>
                </center>
                <div class = "add-item">
                    <input id = "input" type = "text" placeholder = "Add a to-do item" >
                </div>
            </div>

